# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
